@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;1,300&display=swap");

:root {
  /* font-family: "Nunito", sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  

  background-color: #fff;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

* {
  border: none;
  outline: none;

  padding: 0;
  margin: 0;

  list-style: none;
}

.container {
  padding: 2.5rem 1.3rem;
  margin: 5rem 0;
}

.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.--space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.--btn-primary {
  padding-inline: 8px;
  padding-block: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #7f9a7d;
  font-size: 22px;
  font-weight: 500;
}
.--btn-secondary {
  padding-inline: 8px;
  padding-block: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #fff;
  font-size: 22px;
  font-weight: 500;
}

h1 {
  color: #7f9a7d;
  font-family: Abhaya Libre ExtraBold;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}

.seller-title {
  color: #7a7a7a;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 2px;
}

.--selling-price {
  color: #7f9a7d;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

